a {
  color: #1a1a1a;
  text-decoration: none;
  /*&:hover {
        opacity: 0.5;
        } */
}
a:hover {
  text-decoration: none;
}
/*a:visited {
        color: darken(@green, 25%);
        text-decoration: none;
}*/
p {
  font-size: 1.6em;
  line-height: 1.6em;
}
/*h2{
  font-family: @headingfontfamily2;
  color: @dark-grey;
}*/
h1,
h3,
h4 {
  font-family: Helvetica, Verdana, Geneva, Arial, san-serif;
  font-weight: 700;
  line-height: 1em;
}
h1 {
  font-size: 3.0em;
  line-height: 1.6em;
}
h2 {
  font-family: "Droid Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #1a1a1a;
  text-transform: uppercase;
  font-size: 2.2em;
  padding-bottom: 10px;
}
h3 {
  font-size: 1.8em;
  font-family: "Droid Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h4 {
  font-size: 1.6em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: Helvetica, Verdana, Geneva, Arial, san-serif;
  font-size: 62.5%;
  color: #000;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.social-media {
  float: left;
}
.social-media li {
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-top-left-radius: 30px;
  -moz-border-top-right-radius: 30px;
  -moz-border-bottom-left-radius: 30px;
  -moz-border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 38px;
  height: 38px;
  background: #b51e52;
  padding: 7px;
  margin-right: 8px;
  display: inline-block;
}
.social-media li:hover {
  background: #000;
}
.social-media li img {
  height: 23px;
  width: 23px;
}
/* HEADER START */
.header-wrapper {
  position: relative;
}
header {
  background: transparent;
  float: left;
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
}
header ul li {
  display: inline-block;
}
header #tp-header {
  height: 60px;
  background: #e5ddcb;
  padding-top: 10px;
  /*.menu-button {
		    display: none;
		}*/
}
header #tp-header h1 {
  float: left;
  display: inline-block;
  width: 20%;
  text-indent: -9999px;
  background: #e5ddcb url(../images/wwcc-logo.png) no-repeat;
  height: 100px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 170px;
  margin: 0;
}
header #tp-header h1 a {
  height: 100px;
  display: block;
  background: transparent;
}
header #tp-header .top-container {
  float: right;
  overflow: hidden;
}
header #tp-header ul li {
  padding: 0 10px;
  /*a:hover {
		    	opacity: 0.5;
		    }*/
}
header #tp-header ul li a.active {
  font-weight: bold;
  border-bottom: 1px solid #b51e52;
}
header #tp-header .cta {
  float: left;
}
header #tp-header .cta li {
  width: 170px;
  height: 40px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #d33068;
  margin-right: 30px;
  text-align: center;
}
header #tp-header .cta li:hover {
  background: #000;
}
header #tp-header .cta li a {
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
  line-height: 2.3em;
}
header #tp-header .social-media {
  float: right;
}
header #tp-header .social-media li {
  padding: 7px;
  margin-right: 8px;
}
header #bt-header {
  background: #fff8e7;
  height: 50px;
}
header #bt-header .menu-button {
  display: none;
}
header #bt-header nav {
  float: right;
}
header #bt-header nav ul {
  position: relative;
  display: inline-table;
  /*ul.short{
		  			li{
			  			width:160px;
			  		}
			  	}

			  	ul.long{
			  		li{
			  			width:350px;
			  		}
			  	}*/
}
header #bt-header nav ul:after {
  content: "";
  clear: both;
  display: block;
}
header #bt-header nav ul li {
  float: left;
  height: 50px;
  margin: 0 0 0 0;
  line-height: 0px;
  font-size: 1.8em;
  border-right: 1px solid #e5ddcb;
}
header #bt-header nav ul li:hover {
  border-bottom: 3px solid #b51e52;
}
header #bt-header nav ul li:hover > ul {
  display: block;
}
header #bt-header nav ul li:last-child {
  border-right: 0;
}
header #bt-header nav ul li a {
  display: block;
  padding: 25px 10px;
  text-decoration: none;
}
header #bt-header nav ul li a:hover {
  color: #000;
}
header #bt-header nav ul li a.active {
  font-weight: bold;
  border-bottom: 1px solid #b51e52;
}
header #bt-header nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 999999999;
  background: #fffcf6;
}
header #bt-header nav ul ul li {
  float: none;
  position: relative;
  display: block;
  height: 47px;
  width: 100%;
  padding: 0;
  line-height: 0px;
  margin: 0;
  font-size: 0.8em;
  border: 0;
  border-bottom: 1px solid #e5ddcb;
}
header #bt-header nav ul ul li:hover {
  border-left: 0;
  border-bottom: 1px solid #e5ddcb;
  background: #fceff4;
}
header #bt-header nav ul ul li a {
  color: #333333;
}
/* HEADER END */
/* CONTENT START */
div.content-wrapper {
  margin-top: 110px;
  float: left;
  display: inline-block;
  width: 100%;
  /* HERO START*/
  /*#hero-wrapper{
		//position:relative;
		height:350px;

		#hero{
			
			overflow:hidden;
			width: 100%;
			

			img{
				height: 350px;
				width:auto;
			}
		}

		

		#hero-blurb{
			
			position: absolute;
			bottom:3%;
			left:10%;


			a{
				display:block;
				background: rgba(255,248,231,0.6);
				padding: 10px;
				font-family: @headingfontfamily2;
			}


		}
	
	}*/
  /* HERO END*/
  /* INDEX CONTENT START */
  /* INDEX CONTENT END */
  /* PROGRAM START*/
  /* PROGRAM END*/
  /* CONTACT START*/
  /*#tab-content{
		background: @light-cream;
		border:1px @light-cream solid;
		.border-radius(0px,0px,5px,5px);
		padding: 20px 10% 0;
		//margin-botom: 30px;
		height: 500px;*/
  /*Map Section*/
  /* Team Section */
  /* CONTACT END*/
}
div.content-wrapper #hero {
  width: 100%;
  background: url('../images/hero/hero1.jpg') top center no-repeat;
  background-size: cover;
  height: 350px;
}
div.content-wrapper #hero blockquote {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 310px;
}
div.content-wrapper #hero blockquote a {
  display: block;
  background: rgba(255, 248, 231, 0.6);
  padding: 10px;
  font-family: "Droid Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.5em;
  width: 85%;
}
div.content-wrapper #steps-wrapper {
  float: left;
  display: inline-block;
  width: 100%;
  background: #fff8e7;
}
div.content-wrapper #steps-wrapper ul#steps {
  overflow: hidden;
  padding: 20px 150px;
}
div.content-wrapper #steps-wrapper ul#steps li {
  float: left;
  display: inline-block;
  width: 33%;
}
div.content-wrapper #steps-wrapper ul#steps li a {
  text-align: center;
  /*img{
						height: 134px;
						width: 134px;
					}*/
}
div.content-wrapper #steps-wrapper ul#steps li a svg {
  margin-left: 25%;
}
div.content-wrapper #steps-wrapper ul#steps li a svg:hover .heart {
  fill: #000;
}
div.content-wrapper #steps-wrapper ul#steps li:hover {
  text-decoration: underline;
}
div.content-wrapper #mission-wrapper {
  float: left;
  display: inline-block;
  width: 100%;
  background: #b51e52;
}
div.content-wrapper #mission-wrapper p {
  padding: 10px 10%;
  color: #fff;
  font-family: "Droid Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2.2em;
  text-align: center;
}
div.content-wrapper #events-wrapper {
  float: left;
  display: inline-block;
  width: 100%;
  background: #fff;
  /*span{
			float: left;
			width: 90%;
			height: 80px;
		}*/
}
div.content-wrapper #events-wrapper #calendar-wrapper {
  float: left;
  display: inline-block;
  width: 100%;
  height: 80px;
  padding: 0 1% 0 0;
}
div.content-wrapper #events-wrapper svg {
  margin: 10px 0 5px 0;
  width: 8%;
  float: right;
}
div.content-wrapper #events-wrapper svg:hover .calendar {
  fill: #000;
}
div.content-wrapper #events-wrapper svg:hover text {
  text-decoration: underline;
}
div.content-wrapper #events-wrapper .event {
  float: left;
  display: inline-block;
  width: 30%;
  margin: 0 10px;
}
div.content-wrapper #events-wrapper .event img {
  margin-bottom: 15px;
  width: 98%;
}
div.content-wrapper #events-wrapper .event p.date {
  height: 68px;
  width: 68px;
  border: 1px #b51e52 solid;
  text-transform: uppercase;
  font-size: 2.2em;
  text-align: center;
  line-height: 1.5em;
  margin: 0 15px 0 0;
  float: left;
  color: #b51e52;
}
div.content-wrapper #events-wrapper .event h3 {
  font-family: "Droid Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2.2em;
  text-transform: uppercase;
  padding: 0 0 25px 0;
  width: 95%;
}
div.content-wrapper #events-wrapper .event p.blurb {
  height: 100px;
  width: 72%;
  margin-left: 23%;
}
div.content-wrapper #events-wrapper .event p.link {
  text-align: right;
  padding: 10px 20px 0 0;
}
div.content-wrapper #events-wrapper .event p.link:hover {
  cursor: pointer;
}
div.content-wrapper #events-wrapper .event p.link a {
  font-size: 1.2em;
  color: #b51e52;
}
div.content-wrapper #events-wrapper .event p.link a:hover {
  text-decoration: underline;
}
div.content-wrapper #progName {
  float: left;
  display: inline-block;
  width: 100%;
  background: #b51e52;
  padding: 30px 0 20px;
}
div.content-wrapper #progName h2 {
  text-align: center;
  color: #fff;
  font-size: 2.2em;
}
div.content-wrapper #program article {
  float: left;
  display: inline-block;
  width: 100%;
}
div.content-wrapper #program article img {
  float: left;
  display: inline-block;
  width: 40%;
  padding: 50px 0;
}
div.content-wrapper #program article img:first-child {
  padding-right: 10px;
}
div.content-wrapper #program article img:last-child {
  padding-left: 10px;
}
div.content-wrapper #program article .article-wrapper {
  float: left;
  display: inline-block;
  width: 60%;
  padding: 50px 0;
}
div.content-wrapper #program article .article-wrapper p {
  padding: 25px 0;
}
div.content-wrapper #program article .article-wrapper ul li {
  list-style: square url("../images/icons/bullet.svg");
  margin: 0 0 0 10px;
  list-style-position: inside;
  color: #b51e52;
  font-size: 1.4em;
  padding: 3px 0;
}
div.content-wrapper #program article .article-wrapper ul li span {
  color: #000;
}
div.content-wrapper #program article:last-child {
  background: #e5ddcb;
}
div.content-wrapper #program article:last-child p a {
  color: #b51e52;
  text-decoration: underline;
}
div.content-wrapper #program article:last-child p a:hover {
  text-decoration: none;
}
div.content-wrapper #tab-buttons,
div.content-wrapper #tab-content {
  width: 75%;
  margin: 0 auto;
}
div.content-wrapper #tab-buttons {
  margin-top: 30px;
  height: 45px;
}
div.content-wrapper #tab-buttons #form-btn {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
div.content-wrapper #tab-buttons #map-btn {
  border-right: 1px #fff solid;
  border-left: 1px #fff solid;
}
div.content-wrapper #tab-buttons #team-btn {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
div.content-wrapper #tab-buttons .tab {
  float: left;
  display: inline-block;
  width: 33.3%;
  background: #000;
}
div.content-wrapper #tab-buttons .tab:hover {
  cursor: pointer;
  background: #fff8e7;
}
div.content-wrapper #tab-buttons .tab h2 {
  color: #fff;
  text-align: center;
  padding-top: 15px;
}
div.content-wrapper #tab-buttons .tab h2:hover {
  color: #000;
}
div.content-wrapper #tab-buttons .active {
  background: #fff8e7;
}
div.content-wrapper #tab-buttons .active h2 {
  color: #000;
}
div.content-wrapper #tab-buttons .tcontent {
  background: #fff8e7;
}
div.content-wrapper form {
  height: 500px;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: Helvetica, Verdana, Geneva, Arial, san-serif;
  background: #fff8e7;
}
div.content-wrapper form label .labelappend {
  display: inline-block;
  padding: 11px 11px 11px 30px;
  width: 24%;
  color: #000;
}
div.content-wrapper form label input,
div.content-wrapper form label textarea {
  padding: 15px;
  width: 70%;
  border: 1px solid #ffe9b4;
  background: #ffffff;
  color: #1a1a1a;
  font-family: Helvetica, Verdana, Geneva, Arial, san-serif;
  -webkit-appearance: none;
  font-size: 1.2em;
}
div.content-wrapper form label input {
  margin: 20px 0 10px -5px;
}
div.content-wrapper form label textarea {
  margin: 20px 0 -35px -5px;
  resize: vertical;
}
div.content-wrapper form p {
  text-transform: capitalize;
  font-size: 1em;
  text-align: center;
  padding: 20px 0 0 0;
  color: #c3b187;
}
div.content-wrapper form input[type="submit"] {
  width: 70%;
  height: 60px;
  float: right;
  /*margin: 40px 5% 0 0;*/
  margin: 40px 6% 0 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  border: 1px #000 solid;
  background: #b51e52;
  font-size: 1em;
  font-family: Helvetica, Verdana, Geneva, Arial, san-serif;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}
div.content-wrapper form input[type="submit"]:hover {
  background: #000;
}
div.content-wrapper #map p#top-instructions {
  display: none;
  color: #b29a65;
  padding: 10px 0;
}
div.content-wrapper #map #map-results {
  float: left;
  display: inline-block;
  width: 33.3%;
  height: 450px;
  background: #fff8e7;
}
div.content-wrapper #map #map-results h3 {
  font-family: "Droid Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: normal;
  padding: 30px 0 15px 15px;
  line-height: 30px;
}
div.content-wrapper #map #map-results button {
  opacity: 0;
  z-index: 0;
}
div.content-wrapper #map #map-results p {
  padding-left: 15px;
}
div.content-wrapper #map #map-results p#phone,
div.content-wrapper #map #map-results p#email {
  padding-top: 15px;
}
div.content-wrapper #map #map-results p#email a {
  text-decoration: underline;
  color: #b51e52;
}
div.content-wrapper #map #map-results p#email a:hover {
  text-decoration: none;
}
div.content-wrapper #map #map-results p#directions {
  padding-top: 60px;
}
div.content-wrapper #map #map-results p#directions a {
  display: block;
  margin: 0 15% 0 0;
  background: #b51e52;
  color: #fff;
  text-align: center;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 40px;
  line-height: 40px;
  border: 1px #000 solid;
}
div.content-wrapper #map #map-results p#directions a:hover {
  background: #000;
}
div.content-wrapper #map #map-view {
  float: left;
  display: inline-block;
  width: 66.7%;
  height: 450px;
  overflow: hidden;
}
div.content-wrapper #team {
  background: #fff8e7;
  height: 450px;
}
div.content-wrapper #team ul li {
  float: left;
  display: inline-block;
  width: 50%;
  background: #fff8e7;
  padding-top: 40px;
}
div.content-wrapper #team ul li img {
  width: 150px;
  height: 150px;
  float: left;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 10px;
}
div.content-wrapper #team ul li h3 {
  font-family: headingfontfamily;
  padding-bottom: 5px;
}
div.content-wrapper #team ul li p {
  word-wrap: break-word;
}
div.content-wrapper #team ul li p a {
  color: #b51e52;
  text-decoration: underline;
  word-wrap: break-word;
}
div.content-wrapper #team ul li p a:hover {
  text-decoration: none;
}
/* CONTENT END */
/* FOOTER START*/
footer {
  float: left;
  display: inline-block;
  width: 100%;
  background: #000;
  margin-top: 50px;
  color: #fff;
  font-size: 1.4em;
}
footer #sign-up {
  float: left;
  display: inline-block;
  width: 50%;
  padding: 30px 0 0 0;
}
footer #sign-up label .labelappend {
  display: inline-block;
  padding: 5px;
  width: 40%;
  color: #fff;
  font-size: 1em;
  text-align: right;
}
footer #sign-up label input {
  padding: 5px;
  width: 40%;
  border: 1px solid #ffe9b4;
  background: #ffffff;
  color: #1a1a1a;
  font-family: Helvetica, Verdana, Geneva, Arial, san-serif;
  -webkit-appearance: none;
}
footer #sign-up label input {
  margin: 10px 0 10px 0;
}
footer #sign-up input[type="submit"] {
  width: 15%;
  height: 40px;
  float: right;
  /*margin: 40px 5% 0 0;*/
  margin: 0 2% 0 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  border: 1px #000 solid;
  background: #b51e52;
  font-size: 1em;
  font-family: Helvetica, Verdana, Geneva, Arial, san-serif;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}
footer #sign-up input[type="submit"]:hover {
  background: #fff;
  color: #000;
}
footer #smedia {
  float: left;
  display: inline-block;
  width: 50%;
}
footer #smedia .social-media {
  float: right;
}
footer #smedia .social-media li {
  margin-bottom: 20px;
}
footer #smedia .social-media li:last-child {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 170px;
  height: 60px;
  background: none;
  padding: 10px 0 0 0;
  margin: 0;
}
footer #smedia .social-media li:last-child svg:hover .unway {
  fill: red;
}
footer #smedia .social-media li:last-child img {
  height: 60px;
  width: 60px;
}
footer #footer-links {
  text-align: center;
  margin: 20px 0;
  float: left;
  display: inline-block;
  width: 100%;
}
footer #footer-links li {
  display: inline-block;
  border-right: 1px #fff solid;
  padding: 0 20px;
}
footer #footer-links li a {
  color: #fff;
  text-transform: uppercase;
}
footer #footer-links li a:hover {
  text-decoration: underline;
}
footer #footer-links li:last-child {
  border-right: 0;
}
footer #copyright {
  text-align: center;
  font-size: 0.9em;
  float: left;
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
}
/* FOOTER END */
/* MEDIA QUERY 750 - 1024 PX for tablet and desktop */
@media screen and (min-width: 750px) and (max-width: 909px) {
  .container {
    min-width: 80%;
    max-width: 909px;
    margin: 0 auto;
    overflow: hidden;
  }
  header #tp-header .cta li {
    width: 130px;
    height: 40px;
    margin-right: 15px;
  }
  header #tp-header .cta li a {
    font-size: 1.6em;
    line-height: 2.5em;
  }
  header #bt-header nav ul {
    position: static;
  }
  header #bt-header nav ul li {
    font-size: 1.5em;
  }
  header #bt-header nav ul li a {
    padding: 25px 5px;
    text-decoration: none;
  }
  header #bt-header nav ul li a:hover {
    color: #000;
  }
  /* CONTENT START */
  div.content-wrapper {
    margin-top: 110px;
    float: left;
    display: inline-block;
    width: 100%;
    /* INDEX CONTENT START */
    /* INDEX END */
    /*PROGRAM START*/
    /*PROGRAM END*/
  }
  div.content-wrapper #steps-wrapper ul#steps {
    padding: 20px 150px;
  }
  div.content-wrapper #steps-wrapper ul#steps li a {
    font-size: 0.7em;
  }
  div.content-wrapper #steps-wrapper ul#steps li a svg {
    height: 50%;
    width: 50%;
  }
  div.content-wrapper #mission-wrapper p {
    padding: 15px 5%;
    font-size: 1.7em;
  }
  div.content-wrapper #events-wrapper {
    /*svg{
				margin: 10px 2% 5px 1%;
				width: 8%;

			}*/
  }
  div.content-wrapper #events-wrapper #calendar-wrapper {
    padding: 0 5% 0 0;
  }
  div.content-wrapper #events-wrapper .event img {
    margin-bottom: 15px;
    width: 98%;
  }
  div.content-wrapper #events-wrapper .event p.date {
    height: 50%;
    width: 45px;
    font-size: 1.8em;
    line-height: 1.5em;
    margin: 0 10px 0 0;
  }
  div.content-wrapper #events-wrapper .event h3 {
    font-size: 1.8em;
    padding: 0 0 25px 0;
    width: 98%;
  }
  div.content-wrapper #events-wrapper .event p.blurb {
    height: 140px;
    width: 72%;
    margin-left: 23%;
    font-size: 1.5em;
  }
  div.content-wrapper #events-wrapper .event p.link {
    padding: 5px 10px 0 0;
  }
  div.content-wrapper #events-wrapper .event p.link a {
    font-size: 1.1em;
  }
  div.content-wrapper #progName {
    padding-top: 60px;
  }
  /* FOOTER START*/
  footer {
    margin-top: 50px;
    font-size: 1.4em;
  }
  footer #sign-up {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 20px 0 0 0;
  }
  footer #sign-up label .labelappend {
    display: inline-block;
    padding: 5px;
    width: 40%;
    color: #fff;
    font-size: 1em;
  }
  footer #sign-up label input {
    padding: 5px;
    width: 40%;
    border: 1px solid #ffe9b4;
    background: #ffffff;
    color: #1a1a1a;
    font-family: Helvetica, Verdana, Geneva, Arial, san-serif;
    -webkit-appearance: none;
  }
  footer #sign-up label input {
    margin: 10px 0 10px 0;
  }
  footer #sign-up input[type="submit"] {
    width: 15%;
    height: 40px;
    float: right;
    /*margin: 40px 5% 0 0;*/
    margin: 0 2% 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    border: 1px #000 solid;
    background: #b51e52;
    font-size: 1em;
    font-family: Helvetica, Verdana, Geneva, Arial, san-serif;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }
  footer #sign-up input[type="submit"]:hover {
    background: #fff;
    color: #000;
  }
  footer #smedia {
    float: left;
    display: inline-block;
    width: 100%;
  }
  footer #smedia .social-media {
    float: none;
    width: 100%;
    text-align: center;
  }
  footer #smedia .social-media li {
    margin-bottom: 20px;
  }
  footer #smedia .social-media li:last-child {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 170px;
    height: 60px;
    background: none;
    padding: 10px 0 0 0;
    margin: 0;
  }
  footer #smedia .social-media li:last-child svg:hover .unway {
    fill: red;
  }
  footer #smedia .social-media li:last-child img {
    height: 60px;
    width: 60px;
  }
  footer #footer-links {
    text-align: center;
    margin: 20px 0;
    float: left;
    display: inline-block;
    width: 100%;
  }
  footer #footer-links li {
    display: inline-block;
    border-right: 1px #fff solid;
    padding: 0 20px;
  }
  footer #footer-links li a {
    color: #fff;
    text-transform: uppercase;
  }
  footer #footer-links li a:hover {
    text-decoration: underline;
  }
  footer #footer-links li:last-child {
    border-right: 0;
  }
  footer #copyright {
    text-align: center;
    font-size: 0.9em;
    float: left;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
  }
  /* FOOTER END */
}
/* MEDIA QUERY FOR SMALL TABLET AND PHONE*/
@media screen and (max-width: 749px) {
  body {
    background: #fff8e7;
  }
  .container {
    max-width: 98%;
    margin: 0 auto;
    overflow: hidden;
  }
  header #tp-header {
    height: 90px;
  }
  header #tp-header h1 {
    height: 70px;
    width: 100%;
    background-size: contain;
    background-position: center;
  }
  header #tp-header h1 a {
    height: 70px;
  }
  header #tp-header .top-container {
    width: 100%;
    margin-top: 17px;
  }
  header #tp-header .cta {
    float: right;
  }
  header #tp-header .cta li {
    width: 117px;
    height: 38px;
    line-height: 33px;
    margin-right: 10px;
    text-align: center;
  }
  header #tp-header .cta li:hover {
    background: #000;
  }
  header #tp-header .cta li a {
    color: #fff;
    font-size: 1.6em;
    text-transform: uppercase;
    line-height: 2.3em;
  }
  header #tp-header .social-media {
    display: none;
  }
  header #bt-header {
    height: 100%;
  }
  header #bt-header .menu-button {
    display: block;
    float: left;
    display: inline-block;
    width: 100%;
    height: 32px;
    text-align: left;
    margin: 20px 0 0 10px;
  }
  header #bt-header .menu-button:hover {
    cursor: pointer;
  }
  header #bt-header .container {
    max-width: 100%;
  }
  header #bt-header nav {
    float: none;
    width: 100%;
    display: none;
    margin-top: 50px;
    height: 100%;
  }
  header #bt-header nav ul {
    padding: 0;
    display: block;
    position: static;
    height: auto;
    /*li.active{
			        	background: lighten(@ww-pink, 45%);
			        }*/
  }
  header #bt-header nav ul li {
    display: block;
    float: none;
    padding: 0;
    width: 100%;
    height: 100%;
    border-right: 0;
    background: #fffcf6;
    position: relative;
  }
  header #bt-header nav ul li:hover {
    background: #f5c3d5;
  }
  header #bt-header nav ul li:hover > ul {
    display: none;
  }
  header #bt-header nav ul li a {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccbc98;
    padding: 20px 0;
  }
  header #bt-header nav ul ul {
    position: static;
    top: 0;
    z-index: 0;
    padding-top: 0;
  }
  header #bt-header nav ul ul li {
    float: none;
    position: relative;
    display: block;
    height: 47px;
    width: 100%;
    padding: 0;
    line-height: 0px;
    margin: 0;
    font-size: 0.8em;
    border: 0;
    border-bottom: 1px solid #e5ddcb;
  }
  header #bt-header nav ul ul li:hover {
    border-left: 0;
    border-bottom: 1px solid #e5ddcb;
    background: #fceff4;
  }
  header #bt-header nav ul ul li a {
    color: #333333;
  }
  /* CONTENT START */
  div.content-wrapper {
    margin-top: 110px;
    /* INDEX CONTENT START */
    /* HERO START*/
    /* HERO END*/
    /* STEPS START */
    /*INDEX END*/
    /* CONTACT START*/
    /*Map Section*/
    /* CONTACT END*/
  }
  div.content-wrapper #hero {
    background-position: 60% 0%;
  }
  div.content-wrapper #hero blockquote {
    padding-top: 255px;
  }
  div.content-wrapper #hero blockquote a {
    padding: 20px 10px;
    width: 100%;
    line-height: 1.3em;
  }
  div.content-wrapper #steps-wrapper {
    background: #e5ddcb;
  }
  div.content-wrapper #steps-wrapper ul#steps {
    padding: 10% 0;
  }
  div.content-wrapper #steps-wrapper ul#steps li {
    float: left;
    display: inline-block;
    width: 33%;
  }
  div.content-wrapper #steps-wrapper ul#steps li a {
    text-align: center;
  }
  div.content-wrapper #steps-wrapper ul#steps li a svg {
    margin-left: 10%;
    height: 50%;
    width: 90px;
  }
  div.content-wrapper #steps-wrapper ul#steps li a svg:hover .heart {
    fill: #000;
  }
  div.content-wrapper #steps-wrapper ul#steps li a h2 {
    font-size: 1.4em;
  }
  div.content-wrapper #mission-wrapper p {
    font-size: 1.9em;
    padding: 10% 0;
  }
  div.content-wrapper #events-wrapper {
    background: #fff8e7;
  }
  div.content-wrapper #events-wrapper #calendar-wrapper {
    height: 80px;
    padding: 0;
  }
  div.content-wrapper #events-wrapper svg {
    width: 100%;
    float: right;
  }
  div.content-wrapper #events-wrapper .event {
    float: left;
    display: inline-block;
    width: 100%;
    margin: 20px 1%;
  }
  div.content-wrapper #events-wrapper .event img {
    display: none;
  }
  div.content-wrapper #events-wrapper .event p.date {
    font-size: 2.1em;
  }
  div.content-wrapper #events-wrapper .event h3 {
    font-family: "Droid Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 2.2em;
    line-height: 1.5em;
    width: 100%;
  }
  div.content-wrapper #events-wrapper .event p.blurb {
    margin-left: 80px;
  }
  div.content-wrapper #events-wrapper .event p.link a {
    font-size: 1.1em;
  }
  div.content-wrapper form {
    font-size: 1.8em;
  }
  div.content-wrapper form label .labelappend {
    padding: 10px 0 0 0;
    width: 100%;
    text-align: center;
  }
  div.content-wrapper form label input,
  div.content-wrapper form label textarea {
    padding: 15px;
    width: 100%;
    font-size: 1.2em;
  }
  div.content-wrapper form p {
    padding: 20px 0;
  }
  div.content-wrapper form input[type="submit"] {
    width: 100%;
    float: left;
    margin: 40px 0 0 -5px;
  }
  div.content-wrapper #map {
    position: relative;
    height: 450px;
  }
  div.content-wrapper #map p#top-instructions {
    display: inline-block;
  }
  div.content-wrapper #map #map-results {
    float: left;
    display: inline-block;
    width: 100%;
    height: 450px;
    background: #fff8e7;
    position: absolute;
    top: 40px;
    left: 0;
  }
  div.content-wrapper #map #map-results h3 {
    font-family: "Droid Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: normal;
    padding: 30px 0 15px 15px;
    line-height: 30px;
  }
  div.content-wrapper #map #map-results button {
    z-index: 1;
  }
  div.content-wrapper #map #map-results p {
    padding-left: 15px;
  }
  div.content-wrapper #map #map-results p#phone,
  div.content-wrapper #map #map-results p#email {
    padding-top: 15px;
  }
  div.content-wrapper #map #map-view {
    float: left;
    display: inline-block;
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: absolute;
    top: 40px;
    left: 0;
  }
  /* FOOTER START*/
  footer {
    font-size: 1.8em;
  }
  footer #sign-up {
    float: left;
    display: inline-block;
    width: 100%;
  }
  footer #sign-up label .labelappend {
    width: 100%;
    text-align: center;
  }
  footer #sign-up label input {
    padding: 5px;
    width: 59%;
  }
  footer #sign-up label input {
    margin: 10px;
  }
  footer #sign-up input[type="submit"] {
    width: 30%;
    height: 40px;
    float: right;
    /*margin: 40px 5% 0 0;*/
    margin: 0 2% 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
  }
  footer #smedia {
    float: left;
    display: inline-block;
    width: 100%;
  }
  footer #smedia .social-media {
    float: right;
    padding-top: 40px;
  }
  footer #smedia .social-media li {
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-top-left-radius: 50px;
    -moz-border-top-right-radius: 50px;
    -moz-border-bottom-left-radius: 50px;
    -moz-border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-right: 10px;
  }
  footer #smedia .social-media li img {
    height: 90%;
    width: 90%;
  }
  footer #smedia .social-media li:last-child {
    margin-left: 20%;
  }
  footer #smedia .social-media li:last-child svg {
    /*height: 170px;
							width: 170px;*/
    height: 60px;
    width: 140px;
  }
  footer #footer-links {
    margin-bottom: 40px;
  }
  footer #footer-links li a {
    line-height: 1.6em;
  }
  /* FOOTER END */
}
/* MEDIA QUERY FOR SMALL TABLET AND PHONE*/
@media screen and (max-width: 909px) {
  div.content-wrapper {
    margin-top: 110px;
    float: left;
    display: inline-block;
    width: 100%;
    /* PROGRAM START*/
    /* PROGRAM END*/
    /*CONTACT START*/
    /*CONTACT END*/
  }
  div.content-wrapper #progName {
    float: left;
    display: inline-block;
    width: 100%;
    background: #b51e52;
    padding: 30px 0 20px;
  }
  div.content-wrapper #progName h2 {
    text-align: center;
    color: #fff;
    font-size: 2.2em;
  }
  div.content-wrapper #program article {
    padding: 0 12px;
  }
  div.content-wrapper #program article h3 {
    font-size: 2.4em;
    text-align: center;
  }
  div.content-wrapper #program article img {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 50px 0 25px;
  }
  div.content-wrapper #program article img:first-child {
    padding-right: 0;
  }
  div.content-wrapper #program article img:last-child {
    padding: 0 0 25px;
  }
  div.content-wrapper #program article .article-wrapper {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 0 0 50px;
  }
  div.content-wrapper #program article .article-wrapper p {
    padding: 25px 0;
  }
  div.content-wrapper #program article .article-wrapper p:last-child {
    padding-bottom: 0;
  }
  div.content-wrapper #program article .article-wrapper ul li {
    margin: 0 0 0 0;
    font-size: 1.6em;
  }
  div.content-wrapper #program article:first-child {
    background: #fff;
  }
  div.content-wrapper #program article:last-child {
    padding: 40px 12px;
  }
  div.content-wrapper #tab-buttons {
    margin-top: 70px;
  }
  div.content-wrapper #team ul li {
    float: left;
    display: inline-block;
    width: 100%;
  }
}
