.box-sizing () {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

// Defaults to 5px radius
.border-radius (@radius-tl: 5px, @radius-tr: 5px, @radius-bl: 5px, @radius-br: 5px) {
  -webkit-border-top-left-radius:@radius-tl;
  -webkit-border-top-right-radius:@radius-tr;
  -webkit-border-bottom-left-radius:@radius-bl;
  -webkit-border-bottom-right-radius:@radius-br;

  -moz-border-top-left-radius:@radius-tl;
  -moz-border-top-right-radius:@radius-tr;
  -moz-border-bottom-left-radius:@radius-bl;
  -moz-border-bottom-right-radius:@radius-br;

  border-top-left-radius:@radius-tl;
  border-top-right-radius:@radius-tr;
  border-bottom-left-radius:@radius-bl;
  border-bottom-right-radius:@radius-br;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.boxmodel(@width) {
  float: left;
  display: inline-block;
  width: @width;
}

// Mixin for horizontal lists
.list-horizontal(@right-m: 40px, @font-colour: @color-nav) {
  
  display: inline;
    margin-right: @right-m;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: @font-colour;
      font-size: @basefontsize * 2;
    }
    
}

//Mixin for active nav item
.nav-active() {
  font-weight: bold;
  border-bottom: 1px solid @ww-pink;
}

// Can be no bigger than 45%
.widthfloat (@width) {
  float: left;
  display: inline-block;
  width: @width;
  margin: 0 (@width * 0.055);
}