/* MEDIA QUERY 750 - 1024 PX for tablet and desktop */
@media screen and (min-width:750px) and (max-width:909px){
	
	.container {
		//max-width: 95%;
		min-width: 80%;
		max-width: 909px;
		//width: 100%;
		margin: 0 auto;
		overflow:hidden;
	}

	header{

		#tp-header{
			.cta{

				li {
					width: 130px;
					height: 40px;
					margin-right: 15px;

					a{
						font-size: 1.6em;
						line-height: 2.5em;
					}
				}

			}
		}

		#bt-header{
			nav{
				//width: 750px;
				ul{ 
					position: static;
					li{
						//padding: 0 8px;
						font-size: 1.5em;

						a{
							padding: 25px 5px;
					  		//color: #757575;
					  		text-decoration: none;

					  		&:hover{
					  			color: #000;
					  		}
						}
					}
				}
			}
		}
	}

	/* CONTENT START */
	div.content-wrapper {
		margin-top: 110px;
		.boxmodel(100%);

		/* INDEX CONTENT START */
		#steps-wrapper{
			ul#steps {
				padding: 20px 150px;

				li {
					
					a{

						svg{
							//margin-left: 25%;
							height: 50%;
							width: 50%;
						}

						font-size: 0.7em;
						
					}
				}
			}
		}


		#mission-wrapper{ 
			p{
				padding: 15px 5%;
				font-size: 1.7em;
			}
		}

		#events-wrapper{
			#calendar-wrapper{
				padding: 0 5% 0 0;
			}

			/*svg{
				margin: 10px 2% 5px 1%;
				width: 8%;

			}*/


			.event {
				
				img{
					margin-bottom: 15px;
					width: 98%;
				}

				p.date{
					height: 50%;
					width: 45px;
					font-size: 1.8em;
					line-height: 1.5em;
					margin: 0 10px 0 0;
				}

				h3 {
					font-size: 1.8em;
					padding: 0 0 25px 0;
					width: 98%;
				}

				p.blurb {
					height: 140px;
					//width: 90%;
					width: 72%;
					margin-left: 23%;
					font-size: 1.5em;
				}

				p.link {

					padding: 5px 10px 0 0;

					a {
						font-size: 1.1em;
					}
				}
			}
		}
	}
	/* INDEX CONTENT END */



	/* FOOTER START*/
	footer {
		margin-top:50px;
		font-size: 1.4em;

		#sign-up{
			.boxmodel(100%);
			
			padding: 20px 0 0 0;


			label {
		      //text-align: right;
		      
		      .labelappend {
		        display: inline-block;
		        //background:#ccc;
		        padding: 5px;
		        width:40%;
		        color: #fff;
		        font-size: 1em;
		      }
		      
		      input {
		        padding: 5px;
		        width: 40%;
		        border: 1px solid darken(@light-cream, 10%);
		        background: lighten(@light-cream, 10%);
		        color: @dark-grey;
		        font-family: @bodyfontfamily;
		        -webkit-appearance: none;
		        //font-size: 1.2em;
		      }

		      input {
		        margin: 10px 0 10px 0;
		      }

			}
		    input[type="submit"] {
		      //.widthfloat(70%);
		      width: 15%;
		      height: 40px;
		      float: right;
		      /*margin: 40px 5% 0 0;*/
		      margin: 0 2% 0 0;
		      .border-radius();
		      padding: 5px;
		      border: 1px #000 solid;
		      background: @ww-pink;
		      font-size: 1em;
		      font-family: @bodyfontfamily;
		      cursor: pointer;
		      color: #fff;
		      text-transform:uppercase;

		      &:hover{
		        background: #fff;
		        color: #000;
		      }


		    }



		}

		#smedia{
			.boxmodel(100%);

			.social-media{
				float: none;
				width:100%;
				text-align:center;

				li{
					margin-bottom: 20px;
				}

				li:last-child{
					.border-radius(0px,0px,0px,0px);
					width: 170px;
					height: 60px;
					background: none;
					padding: 10px 0 0 0;
					margin: 0;

					svg:hover{
						.unway{
							fill: red;
						}
					}

					img {
						height: 60px;
						width: 60px;
					}
				}
			}
		}

		#footer-links{
			text-align:center;
			margin: 20px 0;
			.boxmodel(100%);

			li{
				display:inline-block;
				border-right: 1px #fff solid;
				padding: 0 20px;

				a{
					color:#fff;
					text-transform:uppercase;

					&:hover{
						text-decoration: underline;
					}
				}

				&:last-child{
					border-right: 0;
				}
			}
		}

		#copyright{
			text-align: center;
			font-size: 0.9em;
			.boxmodel(100%);
			padding-bottom: 20px;
		}
}

/* FOOTER END */


}

/* MEDIA QUERY FOR SMALL TABLET AND PHONE*/
@media screen and (max-width:749px){
	body{
		background: @light-cream;
	}

	.container {
		max-width: 98%;
		//min-width: 80%;
		margin: 0 auto;
		overflow:hidden;
	}

	header{
		#tp-header {
		  	height: 90px;
		  	
		  	h1 {
			    height: 70px;
			    width:100%;
			    background-size: contain;
			    background-position: center;
			    //background-size: 80%;
			    
			    a {
			    	height: 70px;
			    	//margin-left:50%;
			    }

			}

			.top-container{
				//float: right;
				width:100%;
				margin-top:17px;
				
			}  

			.cta {
				float: right;
				//margin-top: 10px;


				li {
					width: 117px;
					height: 38px;
					line-height: 33px;
					margin-right: 10px;
					//padding: 0 auto;
					text-align: center;

					&:hover{
						background: #000;
					}

					a{
						color: #fff;
						font-size: 1.6em;
						text-transform: uppercase;
						line-height: 2.3em;

						
					}
				}
			}

			.social-media{
				display:none;
			}

		}

		#bt-header {
			height: 100%;

			.menu-button {
				display: block;
		      	.boxmodel(100%);
		     	height: 32px;
		      	text-align: left;
		      	margin: 20px 0 0 10px;
		      
		      	&:hover{
		        	cursor:pointer;
		      	}
		    }

		    .container{
		    	max-width:100%;
		    }

		    nav{
      
		    	float: none;
		    	width:100%;
		      	display: none;
		      	margin-top: 50px;
		      	height: 100%;

		      	ul {
        			padding: 0;
        			display:block;
        			position: static;
        			height:auto;

        			li {
			          	display: block;
			          	float:none;
			          	padding: 0;
			          	width: 100%;
			          	height: 100%;
			          	border-right: 0;
			          	background: lighten(@light-cream, 3%);
			          	position: relative;

			          	&:hover{
			          		background: lighten(@ww-pink, 45%);

			          		& > ul {
								display: none;
							}
			          	}

			          	a{
			            	width: 100%;
			            	text-align: center;
			            	border-top: 1px solid darken(@dark-cream, 15%);
			            	padding: 20px 0;
			          	}
			        }

			        /*li.active{
			        	background: lighten(@ww-pink, 45%);
			        }*/


			        ul{
						//display: none;
				  		position:static;
				  		top:0;
				  		z-index:0;
				  		padding-top:0;

				  		li{
				  			float:none;
		  					position: relative;
		  					display: block;
					    	height: 47px;
					    	width: 100%;
					    	//padding: 10px 5px 10px 15px;
					    	padding:0;
					    	line-height: 0px;
					    	margin: 0;
					    	font-size: 0.8em;
					    	border: 0;
					    	border-bottom: 1px solid @dark-cream;

					    	&:hover{
						    	border-left: 0;
						    	border-bottom: 1px solid @dark-cream;
						    	background: lighten(@ww-pink, 55%);
						    }

						    &:last-child {
						      //border-bottom: 0;
						    }

		  					a{
		  						color: lighten(#000,20%);

		  						&:hover{
		  							//background: #aaa;
		  						}
		  					}
				  		}
					}


				}

			}

		}
	}

	/* CONTENT START */
	div.content-wrapper {
		margin-top: 110px;

		/* INDEX CONTENT START */
		/* HERO START*/
		#hero{
			background-position: 60% 0%;
			//background-size: auto 100%;

			blockquote{
				padding-top: 255px;

				a{
					//background: rgba(255,248,231,0.6);
					//background: #fff;
					padding: 20px 10px;
					width: 100%;
					line-height: 1.3em;
				}
			}
		}
		/* HERO END*/


		/* STEPS START */
		#steps-wrapper{
			background: @dark-cream;
			
			ul#steps {
				padding: 10% 0;

				li {
					display: inline-block;
					.boxmodel(33%);

					a{

						text-align: center;

						svg{
							margin-left: 10%;
							height: 50%;
							width: 90px;
						}

						svg:hover {
							.heart{
								fill: #000;
							}
						}

						h2{
							font-size: 1.4em;
						}
					}
				}
			}
		}

		#mission-wrapper{ 
			p{
				font-size: 1.9em;
				//text-align: left;
				padding: 10% 0;
			}
		}

		#events-wrapper{
			background: @light-cream;

			#calendar-wrapper{
				height: 80px;
				padding: 0;
			}

			svg{
				//margin: 10%;
				width: 100%;
				float: right;

			}

			.event {
				.boxmodel(100%);
				margin: 20px 1%;

				img{
					display:none;
				}

				p.date{
					font-size: 2.1em;
				}

				h3 {
					font-family: @headingfontfamily2;
					font-size: 2.2em;
					line-height: 1.5em;
					width: 100%;
				}

				p.blurb {
					margin-left: 80px;
				}

				p.link {

					a {
						font-size: 1.1em;
						
					}
				}
			}
		}	

	}

	/* FOOTER START*/
	footer {
		//padding-top:20px;
		font-size: 1.8em;

		#sign-up{
			.boxmodel(100%);
			
			label {
		      //text-align: right;
		      
		      .labelappend {
		        width:100%;
		        text-align:center;
		      }
		      
		      input {
		        padding: 5px;
		        width: 59%;
		        //font-size: 1.2em;
		      }

		      input {
		        margin: 10px;
		      }

			}
		    input[type="submit"] {
		      //.widthfloat(70%);
		      width: 30%;
		      height: 40px;
		      float: right;
		      /*margin: 40px 5% 0 0;*/
		      margin: 0 2% 0 0;
		      .border-radius();
		      padding: 5px;

		    }



		}

		#smedia{
			.boxmodel(100%);
			.social-media{
				float: right;
				padding-top: 40px;

				li{
					.border-radius(50px,50px,50px,50px);
					width: 60px;
					height: 60px;
					padding: 10px;
					margin-right: 10px;

					img {
						height: 90%;
						width: 90%;
					}

					&:last-child{

						margin-left: 20%;

						svg {
							height: 170px;
							width: 170px;
						}
					}
				}

			}
		}

		#footer-links{
			margin-bottom: 40px;
			li{
				
				a{
					line-height: 1.6em;
				}
			}
		}

	}

	/* FOOTER END */	
}



