@import 'includes/brand.less';
@import 'includes/typography.less';
@import 'includes/mixins.less';

* {
  .box-sizing;
}

body {
  background: #fff;
  font-family: @bodyfontfamily;

  //sets base font size to 10px for easy transition
  font-size: 62.5%;
  color: #000;
}

.container {
  //max-width: 95%;
  max-width: 1170px;
  margin: 0 auto;
}



/* HEADER START */

.header-wrapper{
  position: relative;
}

header {
	background: transparent;
	.boxmodel(100%);
	//padding: 10px 0 0;
	position: fixed;
	top:0;

  	ul li {
	      display: inline-block;
	}

  #tp-header {
  	height: 60px;
  	background: @dark-cream;
  	padding-top: 10px;
  
	h1 {
	    .boxmodel(20%);
	    text-indent: -9999px;
	    background: @dark-cream url(../images/wwcc-logo.png) no-repeat;
	    height: 100px;
	    .border-radius();
	    width: 170px;
	    margin: 0;

	    a {
	    	height: 100px;
	    	display: block;
	    	background: transparent;
	    }

	  }

	.top-container{
		//padding-right: 30%;
		//background: @dark-cream;
	}  

	ul li {
	      padding: 0 10px;

	      a.active {
	          //mixin for active nav item
	          .nav-active()
	      }

	      /*a:hover {
	      	opacity: 0.5;
	      }*/
	  }

	.cta {
		float: left;
		margin-left: 33%;

		li {
			width: 170px;
			height: 40px;
			.border-radius();
			background: @cta-pink;
			margin-right: 30px;
			//padding: 0 auto;
			text-align: center;

			&:hover{
				background: #000;
			}

			a{
				color: #fff;
				font-size: 1.8em;
				text-transform: uppercase;
				line-height: 2.3em;

				
			}
		}
	}

	.social-media{
		float: left;

		li{
			.border-radius(30px,30px,30px,30px);
			width: 38px;
			height: 38px;
			background: @ww-pink;
			padding: 7px;
			margin-right: 8px;

			&:hover{
				background: #000;
			}

			img {
				height: 23px;
				width: 23px;
			}
		}
	}

	  .menu-button {
	    display: none;
	  }

  }

  #bt-header {

  	background: @light-cream;
  	height: 50px;

  	nav{

  		margin-left: 36%;

  		//margin-top: 15px;
	    //.boxmodel(60%);
	    //font-size

	    ul li {
	    	height: 50px;
	    	margin: 0 0 0;
		    padding: 0 15px;
		    line-height: 50px;
	    	/*margin: 15px 0 0;
		    padding: 7px 15px;*/
		    font-size: 1.8em;
		    border-right: 1px solid @dark-cream;

		    &:hover{
		      border-bottom: 3px solid @ww-pink;	      	
		    }

		    &:last-child {
		      border-right: 0;
		    }

		    a.active {
		        //mixin for active nav item
		        .nav-active()
		    }

		    a:hover{
		    	//font-weight: bold;
		      	color: #000;
		    }

		    ul {
		    	background: lighten(@light-cream, 3%);
		    	margin: 3px 0 0;
		    }

		    ul li {
		    	display: block;
		    	height: auto;
		    	width: 200px;
		    	margin: 0;
		    	padding: 10px 5px 10px 15px;
		    	line-height: 1em;
		    	margin: 0;
		    	font-size: 0.8em;
		    	border: 0;
		    	border-bottom: 1px solid @dark-cream;


		    	&:hover{
			    	border-left: 0;
			    	border-bottom: 1px solid @dark-cream;
			    	background: lighten(@ww-pink, 55%);
			    }

			    &:last-child {
			      border-bottom: 0;
			    }

			    a{
			    	color: lighten(#000,20%);
			    }
		    }


	    }
	}

  }
}
/* HEADER END */



/* INDEX CONTENT START */
div.content-wrapper {
	margin-top: 110px;

	#steps-wrapper{
		.boxmodel(100%);
		background: @light-cream;

		ul#steps {
			

			overflow: hidden;
			//width: 760px;
			//margin: 0 auto;
			padding: 20px 150px;

			li {
				display: inline-block;
				.boxmodel(33%);

				a{

					text-align: center;
					/*img{
						height: 134px;
						width: 134px;
					}*/

					svg{
						margin-left: 25%;
					}

					svg:hover {
						.heart{
							fill: #000;
						}
					}
				}

				&:hover{
					//font-weight: bold;
					text-decoration: underline;
				}
			}
		}
	}

	#mission-wrapper{ 
		.boxmodel(100%);
		background: @ww-pink;

		p{
		
		padding: 10px 10%;color: #fff;
		font-family: @headingfontfamily2;
		font-size: 2.2em;
		text-align: center;
		}
	}


	#events-wrapper{

		span{
			float: left;
			width: 90%;
			height: 80px;
		}

		svg{
			margin: 10px 0 5px 1%;
			width: 8%;
			float: right;

		}

		svg:hover{
			.calendar{
				fill: #000;
			}

			text {
				text-decoration: underline;
			}
		}

		.event {
			.boxmodel(33.3%);

			img{
				margin-bottom: 15px;
			}

			p.date{
				height: 68px;
				width: 68px;
				border: 1px @ww-pink solid;
				text-transform: uppercase;
				font-size: 2.2em;
				text-align: center;
				line-height: 1.5em;
				margin: 0 15px 100px 0;
				float: left;
				color: @ww-pink;
			}

			h3 {
				font-family: @headingfontfamily2;
				font-size: 2.2em;
				//line-height: 1.5em;
				text-transform: uppercase;
				padding: 0 0 25px 0;
			}

			p.blurb {

			}

			p.link {

				text-align: right;
				padding: 10px 20px 0 0;

				a {
					font-size: 1.2em;
					color: @ww-pink;
					//text-transform: uppercase;

					&:hover{
						text-decoration: underline;
					}
					
				}
			}
		}
	}
}
/* INDEX CONTENT END */

/* FOOTER START*/
footer {
	.boxmodel(100%);
	background: #000;
}

/* FOOTER END */